# Frontend (Vite) - Terminal de Votacion
# Opcionales: si no se definen, se usa terminal-config.json y deployment.yml

VITE_DEPLOYMENT_PATH=/deployment.yml
VITE_TERMINAL_CONFIG_PATH=/terminal-config.json

# Overrides de terminal-config.json para despliegue
VITE_TERMINAL_ID=1
VITE_TERMINAL_SECRETO=<jwt-terminal-1>
VITE_TERMINAL_JWT=<jwt-terminal-1>
VITE_TERMINAL_CLAVE_PRIVADA=5c59ce3bbe3feca8f5cd4234aee0d2089188a728ee455017007b66f9df5c86d3
VITE_PARENT_URL=ws://localhost:8090
